# sha256: TIOCn_g9QIteHUmVRyJlQR0sQUESKY8utLNZ2eRWM3M
Flask==0.10.1

# sha256: LiSsXQBNtXFJdqBKwOgMbfbkfpjDVMssDYL4h51Pj9s
Jinja2==2.7.3

# sha256: pDiqjD9ROlzz3aAqYvngIrdZjp-_66FLotbdlXyKtDY
Werkzeug==0.10.4

# sha256: y7P8-NPjPfhhcJ7K-J2eZinP8KIXvChI8bQc0w02BRk
itsdangerous==0.24

# sha256: 3169SJ3AkUwiRBnaBZ2ZHrcpiKAc3UuVbVKTLOfVAf8
Flask-BasicAuth==0.2.0

# sha256: gFRMnqFcKNhr_VIB-g51dVcV5oQUhOQS8BaXWsDiIU0
flask-lesscss==0.9.1

# sha256: pOwa_1m5WhS0XrLiN2GgF56YMZ2lp-t2tW6ozce4ccM
MarkupSafe==0.23

# sha256: mcXXVmPWv8v03Q1x_8tzE_ZK6Q5vieCa2ZCAEHAz6LY
Flask-WTF==0.12

# sha256: rz7Iv1DyV39iQHsf8cC-PV2tzcPOC6L47qFeZH_ytR4
spidev==3.0

# sha256: 9H0MafzchgL2IZKEn68CwzlNBrfgmGrD2bK1nXzAUR8
IMAPClient==0.13
